h1, h2, h3 {
    color: #03037c;
    font-size: 24px;
}
.q1 {
    color:aqua;
    font-size: 30px;
}
.f1 {
    color: brown;
    font-size: 25px;
}
.a1 {
    color: rgb(26, 164, 1);
    font-size: 25px;
}